/* Global rest */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
} /* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
} /* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
} /* Typographic tweaks! 4. Add accessible line-height 5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
} /* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
} /* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
} /* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
} /* 9. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

* {
  font-family: "Ubuntu", sans-serif;
}

:root {
  --blue: #287bff;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --widthNav: 300px;
  --shadow: 0 7px 25px rgba(0 0 0 /0.08);
  --border-r: 20px;

  --maxwidth: 991px;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;

  &.active-nav {
    --widthNav: 80px;
    @media (max-width: 991px) {
      --widthNav: 300px;
    }
  }
}

/* Header */

.navigation {
  position: fixed;
  width: var(--widthNav);
  height: 100%;
  background-color: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 500ms;
  overflow: hidden;
  min-height: 150px;

  @media (max-width: 991px) {
    left: calc(var(--widthNav) * -1);

    .active-nav & {
      left: 0;
      width: var(--widthNav);
    }
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    &.list-brand {
      margin-bottom: 40px;
    }

    &:not(.list-brand):hover,
    &:not(.list-brand).active {
      background-color: var(--white);
      a {
        color: var(--blue);
        &::before {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          background-color: transparent;
          top: -50px;
          right: 0;
          border-radius: 50%;
          box-shadow: 35px 35px 0 10px var(--white);
          pointer-events: none;
        }
        &::after {
          content: "";
          position: absolute;
          width: 50px;
          height: 50px;
          background-color: transparent;
          bottom: -50px;
          right: 0;
          border-radius: 50%;
          box-shadow: 35px -35px 0 10px var(--white);
          pointer-events: none;
        }
      }
    }
  }

  a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--white);

    ::before,
    ::after {
      pointer-events: none;
    }
  }

  a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.75em;
  }
  a .title {
    display: block;
    padding-inline: 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
}

/* Search */

.main {
  transition: 500ms;
  background-color: var(--white);
  padding: 10px 20px;
  width: 100%;
  margin-inline-start: var(--widthNav);
  @media (max-width: 991px) {
    margin-inline-start: 0;

    .active-nav & {
      margin-inline-start: var(--widthNav);
    }
  }
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;

  label {
    position: relative;
    width: 100%;
  }

  input {
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-inline-start: 30px;
    font-size: 1.125rem;
    border: 1px solid var(--black2);
  }
  ion-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    font-size: 1.2em;
  }
}

.user {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;

  @media (max-width: 480px) {
    width: 40px;
    height: 40px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
/* Cards */

.cards-container {
  display: grid;
  width: 100%;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  .card {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: var(--border-r);
    cursor: pointer;
    padding: 30px;
    box-shadow: var(--shadow);
    transition: 300ms, 100ms box-shadow ease-in-out;
    &:hover {
      background-color: var(--blue);
      .numbers,
      .cardName,
      .icon-container {
        color: var(--white);
      }
    }
  }
  .numbers {
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
  }
  .cardName {
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
  }
  .icon-container {
    font-size: 3em;
    color: var(--black2);
  }
}

/* details table */

.details {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;

  @media (max-width: 991px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .recentOrders {
    display: grid;
    min-height: 500px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--border-r);
    @media (max-width: 768px) {
      overflow-x: auto;
    }
  }

  .cardHeader {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h2 {
      font-weight: 600;
      color: var(--blue);

      @media (max-width: 480px) {
        font-size: 20px;
      }
    }
    .btn {
      padding: 5px 10px;
      background-color: var(--blue);
      text-decoration: none;
      color: var(--white);
      border-radius: 6px;
    }
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    thead td {
      font-weight: 600;
    }
    tr {
      color: var(--black1);
      border-bottom: 1px solid rgba(0 0 0 /0.1);

      &:last-child {
        border-bottom: none;
      }

      td {
        padding: 10px;
        &:last-child {
          text-align: end;
        }
        &:nth-child(2) {
          text-align: end;
        }
        &:nth-child(3) {
          text-align: center;
        }
      }
    }
    tbody tr:hover {
      background-color: var(--blue);
      color: var(--white);
    }
  }

  .status {
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    white-space: nowrap;
    &--done {
      background-color: green;
    }
    &--return {
      background-color: #f00;
    }
    &--progress {
      background-color: lightskyblue;
    }
    &--pending {
      background-color: orange;
    }
  }

  .recentCustomers {
    display: grid;
    min-height: 500px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: var(--border-r);
    table {
      border-collapse: collapse;
    }
    .imgBx {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    tr {
      border-collapse: collapse;
      &:hover {
        background-color: var(--blue);
        color: var(--white);
        & span {
          color: var(--white);
        }
      }
    }
    td {
      padding: 12px 10px;
    }
    h4 {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.2em;
      span {
        font-size: 14px;
        color: var(--black2);
      }
    }
  }
}
